@{
    ViewData["Title"] = "Dashboard";
}

<div class="container">
    <a href="/Role/new">Add New Role</a>
    <a href="/Role/ListRoles">List of Roles</a>
    <a href="/UserRoles/ViewUsers">List of Users</a>
</div>
